node_modules
npm-debug.log
.DS_Store
DS_Store
dist
prod
version.json
less
reports
test/nightwatch/reports
test/nightwatch/screenshots
test/nightwatch/nightwatch.json
test/nightwatch/running-test.json
production-server.js
screenshots/
selenium-debug.log
.idea
.sonar
tests/acceptance/wdio/utilities/output
registry
.out
core
sonar-project.properties
**/*/.npmignore
**/*/.serverless